<% include ../partials/header %>


<div class="container">
    <header class="jumbotron mt-4">
        <div class="container">
            <h1>Welcome to YelpCamp</h1>
            <p>View our hand-picked campgrounds from all over the world</p>
            <p>
                <a class="btn btn-primary btn-lg" href="campgrounds/new">Add new campground</a>
            </p>
        </div>
    </header>
    
    <div class="card-columns">
        <% campgrounds.forEach(function(campground){ %>
           <!-- <div class="col-md-3 col-sm-6"> -->
                <div class="card p-3 text-center">
                    <img class="card-img-top" src="<%=campground.image%>">
                    <div class="card-body">
                        <h3><%=campground.name%></h3>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
                    </div>
            </div>
        <% }); %>
    </div>

</div>

<% include ../partials/footer %>